<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HTML 명령어</title>
</head>
<body>
  <h1>비순서형 목록</h1>
  <ul>
    <li>목록1</li>
    <li>목록2</li>
    <li>목록3</li>
    <li>목록4</li>
  </ul>

  <h1>순서형 목록</h1>
  <ol>
    <li>item1</li>
    <li>item2</li>
    <li>item3</li>
    <li>item4</li>
    <li>item5</li>
    <li>item6</li>
  </ol>

  <p>동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리 나라 만세</p>
  <p>대중을 타오르고 천자만홍이 것은 두기 그들은 교향악이다. 아름답고 보내는 찾아 튼튼하며, 옷을 인생에 얼음이 거친 칼이다. 얼마나 충분히 사는가 평화스러운 들어 노래하며 피다. 가장 부패를 쓸쓸한 없으면 별과 창공에 구하지 길을 가슴이 철환하였는가?</p>
</body>
</html>
